.bg-dark {
    background-color: #fff!important;
    border-bottom: 1px solid #eee;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #3a8bcd;
}
.navbar-dark .navbar-nav .nav-link {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    color: #1e1e1e;
    transition: all 0.5s;
}
.header_button{
    background-color: white;
    color:#1e1e1e;
    border: none;
    padding: 7px 30px;
    margin: 2px 5px;
    text-align: center;
    font-weight: 700;
    border-radius: 3px;
}
.header_button:hover{
    color: #3a8bcd;
}
.login_button{
    text-align: right;
}